<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<style>
    body {
        background-color: darkslategray;
        color: lightgray;
        font-size: 20px;
    }

    table, th, td {
        border: 1px solid black;
    }

    a {
        color: gold;
        text-decoration: none;
        background-color: black;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

</style>
<body class="container">
<h1>Welcome, <span th:text="${userHome.name}"></span>!</h1>

<div th:if="${userHome != null}">
    <table>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Age</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>
        <tr>
            <td th:text="${userHome.name}"></td>
            <td th:text="${userHome.email}"></td>
            <td th:text="${userHome.age}"></td>
            <td th:text="${userHome.username}"></td>
            <td>
                <ul>
                    <li th:each="role : ${userHome.roles}" th:text="${role.name}"></li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<br>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>